/* Comon Styles */
body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

h2 {
    font-size: 18px;
}

.white-color {
    color: white;
}

/*Header Style */
.container {
    width: 1200px;
    background-color: #161616;
    border-radius: 30px;
    margin: 30px 45px;
}

.flex-banner {
    display: flex;

}

.banner {
    width: 50%;
    padding: 20px 30px;
    margin: 0 20px;
}

.banner a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;

}

/* Animation */
@keyframes sliding {
    from {
        color: #161616;
        left: 0px;

    }

    to {
        color: white;
        left: 400px;
    }

}

.fa-futbol {
    font-size: 28px;
    color: white;
    position: relative;
    animation: sliding 3s ease-in-out infinite alternate;
    animation-play-state: running;
}

.banner img {
    width: 100%;
}

/* Feature Button Styles */
.feature-buttons {
    height: 300px;
    width: 300px;
    background: #161616;
    border-radius: 10px;
    margin: 100px 20px 0 5px;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.button-style {
    background-color: white;
    margin: 10px 30px;
    border-radius: 10px;


}

.button-style a {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    font-weight: 500;
}

.color-red {
    background-color: #DD0000;
}

.color-red a {
    color: white;
}

/* Blog Styles */
.blogs-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog {
    width: 300px;
    height: 300px;

}

.blog-image img {
    width: 100%;
}

.blog-detail {
    margin: 10px;
}

.blog-info {
    display: flex;
}

.flex-item {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 10px;
}

/* Footer Styles */
footer {
    height: 444px;
    background-color: #161616;

}

.goal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


footer h2 {
    color: white;
    font-size: 40px;
}

.goal-anchor a {
    color: #B9B9B9;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
}


.icons i {
    color: lightgray;
    font-size: 40px;
    margin: 20px 15px 0 0;
}

/* Upcoming Matches Styles */
.match {
    width: 300px;
    height: 100px;
}

.match-item {
    display: flex;
    align-items: center;
}

.match-item img {
    width: 100%;
    padding: 0 20px;
    margin: 0 10px;
}

.match-info {
    line-height: 0.7;
}

.match-info {
    text-align: center;
}

.match-info p {
    color: #7d7c7c;
}